.logo {
    color: var(--accent-color);

    text-decoration: none;
    font-family: raleway, cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo {
    &--black {
        color: var(--black-logo-letters);
    }
    &--white {
        color: var(--primary-white-color);
    }
}